<header class="mat-elevation-z2">
  <button mat-icon-button class="mobile" (click)="sideMenuHandler()">
    @if (!mobileMenuOpenState) {
    <mat-icon>menu</mat-icon>
    } @else {
    <mat-icon>close</mat-icon>
    }
  </button>
  <img class="logo" src="../../../../../../assets/imgs/logo.svg" alt="" />
  @if(searchVisibility) {
  <div class="search-wrapper">
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Pesquisar</mat-label>
      <mat-icon matPrefix class="search-icon">search</mat-icon>
      <input
        matInput
        #search
        [(ngModel)]="searchValue"
        placeholder="Pesquisar nomes"
      />
    </mat-form-field>
    @if(searchValue) {
    <button mat-icon-button aria-label="Limpar" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
    }
  </div>
  }
  <button mat-button [matMenuTriggerFor]="menu" class="account-btn">
    <img class="avatar" [src]="userPhoto" alt="" />
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="viewMyAccount()">
      <mat-icon>account_circle</mat-icon>Minha conta
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>Sair
    </button>
  </mat-menu>
</header>

@if (mobileMenuOpenState) {
<section class="overlay mobile">
  <app-side-menu />
</section>
}
