:host {
  display: inline-block;
  margin-right: 12px;
}

article {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 2px 8px;
  padding-bottom: 1px;
  border-radius: 4px;
  .status-icon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.4rem;
    background: rgb(158, 158, 158);
    border-radius: 50%;
    margin-bottom: 2px;
  }
  p {
    font-size: 14px;
    margin: 0;
    color: #777;
    letter-spacing: 0.5px;
  }
}

.Alive {
  background: rgb(85, 204, 68) !important;
}
.Dead {
  background: rgb(214, 61, 46) !important;
}
