:host {
  width: 100%;
}

.characters-page {
  width: 100%;
  padding: 48px;
  overflow-y: auto;
  height: calc(100vh - 80px);
  .characters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(550px, 30vw), 2fr));
    grid-template-rows: auto;
    grid-column-gap: 65px;
    grid-row-gap: 55px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    overflow-y: auto;
  }
}
