:host {
  width: 100%;
}

.characters-page {
  width: 100%;
  padding: clamp(12px, 3vw, 48px);
  overflow-y: auto;
  height: calc(100vh - 80px);
  .characters-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(clamp(450px, 20vw, 800px), 2fr)
    );
    grid-template-rows: auto;
    grid-column-gap: clamp(16px, 3vw, 65px);
    grid-row-gap: clamp(16px, 3vw, 55px);
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    overflow-y: auto;
  }
}
