<section class="characters-page">
  <div class="countries-grid">
    <article class="card">
      <header>aff</header>
    </article>
    <article class="card">
      <header>aff</header>
    </article>
    <article class="card">
      <header>aff</header>
    </article>
    <article class="card">
      <header>aff</header>
    </article>
    <article class="card">
      <header>aff</header>
    </article>
    <article class="card">
      <header>aff</header>
    </article>
    <article class="card">
      <header>aff</header>
    </article>
    <article class="card">
      <header>aff</header>
    </article>
  </div>
</section>
