:host {
  width: 100%;
}

.detail-page {
  padding: 48px;
  width: 100%;
  .card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    overflow: hidden;
    box-sizing: border-box;
    transition: 100ms ease all;
    width: 100%;
    justify-self: center;
    margin: top 16px;
    .episode-info {
      display: flex;
      margin-top: 16px;
      img {
        height: 270px;
        margin: 16px;

        border-radius: 4px;
      }

      .content-group {
        margin-top: 16px;
        h3 {
          margin-bottom: 4px;
          color: #999;
          font-weight: 500;
          font-size: 16px;
        }
        p {
          margin: 0;
          font-size: 18px;
        }
      }
    }
    .characters-info {
      padding: 16px;
    }
  }
}

button {
  height: 48px;
  min-width: 50px;
  padding: 0 14px;
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: 15.4px;
  line-height: 48px;
  font-weight: 400 !important;
  color: #444444 !important;
  overflow: hidden;
  letter-spacing: 0.7px;
  transition: 150ms all ease;
  margin-bottom: 24px;
  mat-icon {
    margin-right: 8px;
    top: -1px;
    position: relative;
  }
}
