<section class="detail-page">
  <button
    mat-button
    [routerLink]="'/personagens'"
    routerLinkActive="btn--active"
  >
    <mat-icon fontIcon="arrow_back" />
    Voltar
  </button>

  @if (!loading) {
  <mat-card class="card">
    <div class="character-info">
      <img src="{{ character.image }}" alt="" />
      <div>
        <mat-card-header>
          <mat-card-title>
            {{ character.name }}
          </mat-card-title>
          <mat-card-subtitle>
            <app-character-status [status]="character.status" />
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="content-group">
            <h3>Espécie:</h3>
            <p>{{ character.species }}</p>
          </div>

          @if (character.type) {
          <div class="content-group">
            <h3>Tipo:</h3>
            <p>{{ character.type }}</p>
          </div>
          }

          <div class="content-group">
            <h3>Gênero:</h3>
            <p>{{ character.gender }}</p>
          </div>

          <div class="content-group">
            <h3>Origem:</h3>
            <p>{{ character.species }}</p>
          </div>

          <div class="content-group">
            <h3>Localização:</h3>
            <p>{{ character.location.name }}</p>
          </div>
        </mat-card-content>
      </div>
    </div>
    <div class="episodes-info">
      <h2>Episódios em que apareceu:</h2>
      @if (!loadingEpisodes) {
      <div class="episodes-grid mat-elevation-z1">
        @for (episode of episodesList; track $index) {
        <app-episode-card [episode]="episode" />
        }
      </div>
      } @else {
      <app-loader />
      }
    </div>
  </mat-card>
  } @else {
  <app-loader />
  }
</section>
