<main>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <section class="loginContainer">
      <img src="../../../../assets/imgs/logo.svg" alt="Logo" class="logo" />

      <h1>Entrar</h1>

      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email" autofocus />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>

      <button
        mat-stroked-button
        [disabled]="loginForm.invalid"
        type="submit"
        class="loginBtn"
      >
        Entrar
      </button>
    </section>
  </form>
</main>
